---

layout: page
language: "en"
title: "Virtual Inventory Specification"
description: "vinv standardizes forest inventory data enabling further automated processing for visualization, analysis and forest management."

---

{% include section-hero.html
    subtitle="Specifications of"
    title="Forest Inventory Data"
    text="
    <p class=\"vinv-first-line\">
       The <span class=\"heighlight\">vinv group</span> establishes and maintains specifications to standardize forest inventory data.
    </p>
    <p>
        Due to the standardized form, <b>ONE</b> uniform data basis can be created from different inventory methods such as <span class=\"heighlight\">field data</span>, <span class=\"heighlight\">processed laser scannings</span> or <span class=\"heighlight\">machine learning predictions</span> and used in various applications such as <span class=\"heighlight\">visualizations</span>, <span class=\"heighlight\">scientific analyses</span> or <span class=\"heighlight\">forest management</span>.
    </p>"
    class="headline-module-left"
    img="/assets/img/overview.svg"
%}


{% include section-hero_right.html
    subtitle="Precision"
    title="Forestry"
    text="<p class=\"vinv-first-line\">
        The vinv group's requirement for inventory data is to represent a forest stand with the highest necessary resolution.
        
    </p>
    <p>
        The vinv specifications defines individual tree level by default.<br/>
        Thereby <a href=\"/documentations/format.html#syntax\">syntax</a> and <a href=\"/documentations/format.html#semantic\">semantics</a> of each attribute of each tree is defined. This level of detail allows for both scientific analysis and detailed visualizations of the stand.
    </p>"
    class="headline-module-right vinv-precision-forestry"
    img="/assets/img/vinv-precision.jpg"
%}
{% include precision-forestry.html %}


{% include section-hero.html
    subtitle="Open Source"
    title="Driven by Community"
    text="
    <p class=\"vinv-first-line\">
        <span class=\"heighlight\">vinv</span> specifications and according software is and will be Open Source and free of charge - forever.
    </<p>
    <p>
        Each member of the vinv group has an influence on the development of the specifications by participating in technical and content discussions and contributing to the project. 
    </p>
    <p>
        <small>
            vinv specifications and software is published under the terms of <a href=\"https://choosealicense.com/licenses/mit/\" rel=\"noreferrer\" target=\"_blank\">MIT license</a>.
        </small>
    </p>"
    class="headline-module-left"
    img="/assets/img/oc100_logo_trans.png"
%}
{% include contributors.html %}