<div class="text-center contributors-companies-list mt-3">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://gruenecho.de" target="_blank" rel="noreferrer">
                <img src="/assets/img/contributors/gruenecho.png" /><br/>
                <small>gruenecho.de <i class="bi bi-box-arrow-in-up-right"></i></small>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://openforests.com/" target="_blank" rel="noreferrer">
                <img src="/assets/img/contributors/logo_openforests_150x84_green_light_5pxmargin.png" /><br/>
                <small>openforests.com <i class="bi bi-box-arrow-in-up-right"></i></small>
            </a>
        </li>
    </ul>
</div>