<nav class="shadow-sm navbar navbar-light bg-light  navbar-expand fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://vinv.io/">
            <img src="assets/img/logo_transparent.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <span class="ms-2">vinv</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between d-flex flex-row-reverse" id="navbarScroll">
          <ul class="nav navbar-nav main-navigation my-0 ">
            <li class="nav-item">
              <a class="btn nav-link text-dark text-sm-center p-2 scroll" href="/getting-started">
                Getting started
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark text-sm-center p-2 scroll" href="https://github.com/vinv-group" target="_blank" rel=”noreferrer”>
                <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>