<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo-ico" src="../assets/icon/logo.svg" alt="vinv logo"/>
        vinv
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between d-flex flex-row-reverse" id="navbarScroll">
        <ul class="nav navbar-nav main-navigation my-0 ">
          <li class="nav-item">
            <a class="nav-link text-dark text-sm-center p-2 scroll" href="https://github.com/vinv-group/vinv-schema" target="_blank">
              Schema
              <i class="bi-box-arrow-up-right" style="font-size: 0.5rem;"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark text-sm-center p-2 scroll" href="#" tabindex="-1" target="_blank">
              Documentation
              <i class="bi-box-arrow-up-right" style="font-size: 0.5rem;"></i>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
</nav>
