<section class="hero">
    <div class="container {{ include.class }}">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="https://via.placeholder.com/650" alt="{{ include.title }}"/>
            </div>
            <div class="col-lg-6">
                <p class="h4"><span class="subtitle point-before">{{ include.subtitle }}</span></p>
                <h1>{{ include.title }}</h1>
                <p>{{ include.text }}</p>
            </div>
        </div>
    </div>
</section>