<section>
      <include src="headline.html" locals='{
        "subtitle": "Module",
        "title": "Check Some of My Recent Work",
        "text": "Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut",
        "class": "headline-module-center"
    }'></include>

    <div id="module-slider" class="py-3" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
        <div class=" px-3">
            <div class="card rounded-3 shadow" style="width: 200px;">
                <div class="card-body">
                  <h5 class="card-title">1Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class=" px-3">
            <div class="card rounded-3 shadow" style="width: 200px;">
                <div class="card-body">
                  <h5 class="card-title">2Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class=" px-3">
            <div class="card rounded-3 shadow" style="width: 200px;">
                <div class="card-body">
                  <h5 class="card-title">2Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class=" px-3">
            <div class="card rounded-3 shadow" style="width: 200px;">
                <div class="card-body">
                  <h5 class="card-title">2Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class=" px-3">
            <div class="card rounded-3 shadow" style="width: 200px;">
                <div class="card-body">
                  <h5 class="card-title">2Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
      </div>
</section>
